.bg-relative {
    position: relative;

    .background-img-one {
        background-image: url(../../assets/images/photozone-img00025.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 517px;
        background-size: cover;

        &::before {
            background-color: transparent;
            background-image: linear-gradient(180deg, #33aac000 0%, #0e262b 49%);
            position: absolute;
            height: 135px;
            width: 100%;
            bottom: 0;
            left: 0;
            content: " ";
            opacity: 1;
            z-index: 10;
        }

        .backgound-overlay {
            background-color: rgba(0, 0, 0, 0.65);
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;

            .feature {
                text-align: center;
                height: calc(100% - 100px);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h1 {
                    color: #fff;
                    font-size: 70px;
                    font-weight: 600;
                    font-family: "Marcellus", serif;

                    @media (max-width: 576px) {
                        font-size: 45px;
                    }
                }
            }
        }
    }
}

.mainbgimg {
    position: relative;
    .wtostudio {
        background-color: #0e262b;
        width: 100%;
        padding-bottom: 120px;

        @media (max-width: 1024px) {
            padding: 80px 0;
        }

        @media (max-width: 576px) {
            padding: 50px 0;
        }

        &::before {
            background-image: url(../../assets/images/bosa-photography-img3.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
        }
        .container {
            max-width: 1140px;
            margin: 0 auto;
            padding: 0 20px;

            .allmainzdiv {
                position: relative;
                z-index: 10;

                .introdu {
                    text-align: center;

                    .intbosa {
                        img {
                            margin-bottom: 10px;
                        }
                        h6 {
                            color: #ddd;
                            font-size: 15px;
                            margin-bottom: 20px;
                            letter-spacing: 4px;
                            font-weight: 600;
                        }
                    }
                    .weltourstu {
                        margin-bottom: 20px;
                        h2 {
                            color: #fff;
                            font-size: 50px;
                            font-weight: 500;

                            @media (max-width: 576px) {
                                font-size: 35px;
                            }
                        }
                    }
                    p {
                        padding: 0 145px;
                        color: #ddd;
                        font-size: 15px;
                        margin-bottom: 30px;

                        @media (max-width: 1024px) {
                            padding: 0;
                        }

                        @media (max-width: 576px) {
                            padding: 0;
                            margin: 0;
                        }
                    }
                }

                .recent-blog-flex-main {
                    width: 100%;
                    position: relative;
                    flex-wrap: wrap;
                    align-content: flex-start;

                    .Photograph-tow-card-div-flex-main {
                        margin: 30px 0 0 0;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 30px;

                        @media (max-width: 1024px) {
                            gap: 20px;
                        }

                        @media (max-width: 576px) {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            gap: 20px;
                        }

                        .Photograph-tow-card-div-card-one {
                            text-align: center;
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
                            background-color: #19353a;
                            overflow: hidden;
                            position: relative;
                            width: 100%;
                            border-radius: 3px;
                            border: 0 solid #69727d;

                            .Photograph-tow-card-div-card-personl-image {
                                position: relative;
                                display: block;
                                width: 100%;

                                .Photograph-tow-card-div-card-personl-image-inner {
                                    padding-bottom: calc(0.65 * 100%);
                                    position: relative;
                                    overflow: hidden;

                                    img {
                                        width: 400px;
                                        position: absolute;
                                        top: 50%;
                                        transform: scale(1.01) translate(-50%, -50%);
                                        max-width: none;
                                        object-fit: cover;

                                        @media (max-width: 1024px) {
                                            width: 200px;
                                        }
                                    }

                                    &::after {
                                        display: block;
                                        content: "";
                                        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), transparent 75%);
                                        background-repeat: no-repeat;
                                        height: 100%;
                                        width: 100%;
                                        position: absolute;
                                        bottom: 0;
                                        opacity: 1;
                                    }
                                }
                            }
                            .camera-div-pera {
                                padding: 15px 30px;

                                .camera-div-pera-main {
                                    font-family: "Marcellus", serif;

                                    p {
                                        color: #ffffff;
                                        font-family: "Marcellus", serif;
                                        font-size: 24px;
                                        font-weight: 500;
                                        line-height: 1.3em;
                                        text-decoration: none;

                                        @media (max-width: 576px) {
                                            font-size: 15px;
                                        }
                                    }
                                }

                                @media (max-width: 576px) {
                                    padding: 12px 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.ourmission {
    background-color: #0e262b;
    width: 100%;
    padding: 0 0 100px 0;

    .container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 20px;

        .wetrycustomers {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            align-items: center;

            @media (max-width: 1024px) {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
            }

            .firtmission {
                text-align: left;

                @media (max-width: 1024px) {
                    text-align: center;
                }

                @media (max-width: 576px) {
                    text-align: center;
                }
                .missionlogo {
                    img {
                        margin-bottom: 10px;
                    }
                    h6 {
                        color: #ddd;
                        font-size: 15px;
                        margin-bottom: 20px;
                        letter-spacing: 3px;
                    }
                }
                h2 {
                    color: #fff;
                    font-size: 49px;
                    font-weight: 500;
                    margin-bottom: 20px;
                    @media (max-width: 576px) {
                        font-size: 35px;
                    }
                }
                p {
                    color: #ddd;
                    font-size: 14px;
                    margin-bottom: 35px;
                    font-family: "Raleway", sans-serif;
                    line-height: 1.5em;
                }
            }

            .blankdiv {
                .videocamera {
                    display: flex;
                    text-align: left;
                    align-items: center;

                    @media (max-width: 576px) {
                        display: block;
                        text-align: center;
                    }

                    .logobacki {
                        background-color: #19353a;
                        border-radius: 50%;
                        padding: 20px;
                        height: 80px;
                        width: 80px;
                        margin: 0 20px 0 40px;

                        @media (max-width: 576px) {
                            margin: 0 auto;
                        }

                        img {
                            height: 40px;
                            width: 40px;
                        }
                    }
                    .videoss {
                        h5 {
                            color: #fff;
                            font-size: 24px;
                            margin: 8px 0 16px;
                            font-weight: 500;

                            @media (max-width: 576px) {
                                font-size: 20px;
                                margin: 5px 0 10px;
                            }
                        }
                        p {
                            font-size: 15px;
                            color: #fff;
                            font-family: "Raleway", sans-serif;
                        }
                    }
                }

                .videocamera-one {
                    display: flex;
                    text-align: left;
                    align-items: center;
                    padding-top: 40px;

                    @media (max-width: 576px) {
                        display: block;
                        text-align: center;
                    }

                    .logobacki {
                        background-color: #19353a;
                        border-radius: 50%;
                        padding: 20px;
                        height: 80px;
                        width: 80px;
                        margin: 0 20px 0 40px;

                        @media (max-width: 576px) {
                            margin: 0 auto;
                        }

                        img {
                            height: 40px;
                            width: 40px;
                        }
                    }
                    .videoss {
                        h5 {
                            color: #fff;
                            font-size: 24px;
                            margin: 8px 0 16px;
                            font-weight: 500;

                            @media (max-width: 576px) {
                                font-size: 20px;
                                margin: 5px 0 10px;
                            }
                        }
                        p {
                            font-size: 15px;
                            color: #ddd;
                            font-family: "Raleway", sans-serif;
                        }
                    }
                }
            }
        }
    }
}

.cameragirl-about {
    position: relative;
    .bgcamera {
        background-image: url(../../assets/images/photozone-img22.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 682px;
        width: 100%;

        @media (max-width: 1024px) {
            height: 905px;
        }

        @media (max-width: 576px) {
            height: 1220px;
        }

        .bg-opa {
            background-color: rgba(0, 0, 0, 0.6);
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;

            @media (max-width: 1024px) {
                padding: 120px 0;
            }

            @media (max-width: 576px) {
                padding: 80px 0;
            }

            .container {
                max-width: 1140px;
                margin: 0 auto;
                padding: 0 20px;

                .callto {
                    text-align: center;
                    height: 682px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    @media (max-width: 576px) {
                        height: 100%;
                    }

                    .action {
                        margin: 20px 0;
                        h6 {
                            color: #ddd;
                            font-size: 15px;
                            letter-spacing: 2px;
                        }
                    }
                    h2 {
                        color: #fff;
                        font-size: 50px;
                        margin-bottom: 20px;
                        font-weight: 500;

                        @media (max-width: 576px) {
                            font-size: 35px;
                        }
                    }

                    .satisfied {
                        margin-top: 20px;
                        width: 100%;

                        .four-new {
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                            gap: 20px;

                            @media (max-width: 1024px) {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                gap: 20px;
                            }

                            @media (max-width: 576px) {
                                display: grid;
                                grid-template-columns: repeat(1, 1fr);
                                gap: 20px;
                            }

                            .light-color {
                                background-color: rgba(14, 38, 43, 0.7);
                                padding: 30px;

                                @media (max-width: 576px) {
                                    padding: 25px 30px;
                                }

                                .users {
                                    img {
                                        height: 70px;
                                        width: 70px;

                                        @media (max-width: 576px) {
                                            height: 60px;
                                            width: 60px;
                                        }
                                    }
                                }
                                .sati {
                                    margin-top: 10px;
                                    span {
                                        color: #fff;
                                        font-size: 32px;

                                        @media (max-width: 576px) {
                                            font-size: 28px;
                                        }
                                    }

                                    p {
                                        color: #ddd;
                                        font-size: 15px;
                                        margin-top: 5px;
                                        font-family: "Raleway", sans-serif;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
